@keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
  .rotate-animation {
    animation: rotate 35s linear infinite;
  }
  @media (max-width: 767px) {
    .empresasimg {
      display: none;
    }
    
    .empresasNameimg {
      display: none;
    }
  }
  