.Parceiros {
    background-color: #0F0F0F;
    padding: 4rem 0rem 8rem 0rem;
}

.parceirosH1 {
    font-size: 70px;
    color: rgb(255, 255, 255);
}

@media (max-width: 767px) {
    .parceirosH1 {
        font-size: 50px; 
    }
}

@media (max-width: 576px) {
    .parceirosH1 {
        font-size: 40px;
    }

    .col-md-5.text-center {
        margin-bottom: 2rem; 
    }

    .col-md-7.text-center img.fila1Img {
        max-width: 80%;
    }
}
