@keyframes movePhone1 {
  0% {
    top: 11rem;
    left: 30%;
  }

  100% {
    top: 7rem;
    left: 55%;
  }
}

@keyframes movePhone2 {
  0% {
    top: 11rem;
    left: 73%;
  }

  100% {
    top: 13.5rem;
    left: 65%;
  }
}

.phone1 {
  position: absolute;
  animation: movePhone1 1s forwards;
}

.phone2 {
  position: absolute;
  animation: movePhone2 1s forwards;
}

@keyframes movePlay {
  0% {
    top: 15rem;
    left: 35%;
  }

  100% {
    top: 13.5rem;
    left: 55%;
  }
}

@keyframes moveUpDown {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }
}

.playImg {
  position: absolute;
  animation: movePlay 1s forwards, moveUpDown 2s infinite alternate;
}

@keyframes moveReels {
  0% {
    top: 20rem;
    left: 60rem;
  }

  100% {
    top: 20rem;
    left: 80%;
  }
}

@keyframes moveUpDownReels {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}

.reelsImg {
  position: absolute;
  animation: moveReels 2s forwards, moveUpDownReels 3s infinite alternate;
}

@keyframes moveMin {
  0% {
    top: 20rem;
    left: 60rem;
  }

  100% {
    top: 25rem;
    left: 50%;
  }
}

@keyframes moveUpDownMin {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}

.minImg {
  position: absolute;
  animation: moveMin 2s forwards, moveUpDownMin 3s infinite alternate;
}

.iconempresas1 {
  z-index: 3;
  position: absolute;
  top: 35rem;
  left: 21.5rem;
}

/* Estilos para dispositivos com largura entre 986px e 1250px */
@media (min-width: 986px) and (max-width: 1250px) {
  @keyframes movePhone1 {
    0% {
      top: 11rem;
      left: 30%;
    }
  
    100% {
      top: 7rem;
      left: 55%;
    }
  }
  
  @keyframes movePhone2 {
    0% {
      top: 11rem;
      left: 73%;
    }
  
    100% {
      top: 13.5rem;
      left: 65%;
    }
  }
  
  .phone1 {
    position: absolute;
    height: 55%;
    animation: movePhone1 1s forwards;
  }
  
  .phone2 {
    position: absolute;
    height: 45%;
    animation: movePhone2 1s forwards;
  }

  
@keyframes movePlay {
  0% {
    top: 11rem;
    left: 35%;
  }

  100% {
    top: 11rem;
    left: 55%;
  }
}

@keyframes moveUpDown {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }
}

.playImg {
  position: absolute;
  height: 3.5rem;
  animation: movePlay 1s forwards, moveUpDown 2s infinite alternate;
}


@keyframes moveReels {
  0% {
    top: 18rem;
    left: 60rem;
  }

  100% {
    top: 18rem;
    left: 89%;
  }
}

@keyframes moveUpDownReels {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}

.reelsImg {
  position: absolute;
  height: 3.5rem;
  animation: moveReels 2s forwards, moveUpDownReels 3s infinite alternate;
}

@keyframes moveMin {
  0% {
    top: 28rem;
    left: 60rem;
  }

  100% {
    top: 28rem;
    left: 53%;
  }
}

@keyframes moveUpDownMin {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}

.minImg {
  position: absolute;
  height: 4rem;
  animation: moveMin 2s forwards, moveUpDownMin 3s infinite alternate;
}

.iconempresas1 {
  z-index: 3;
  position: absolute;
  top: 35rem;
  left: 21.5rem;
}

}

/* Estilos para dispositivos com largura entre 990px e 767px */
@media (max-width: 990px) and (min-width: 767px) {
  @keyframes movePhone1 {
    0% {
      top: 11rem;
      left: 30%;
    }
  
    100% {
      top: 7rem;
      left: 51%;
    }
  }
  
  @keyframes movePhone2 {
    0% {
      top: 11rem;
      left: 73%;
    }
  
    100% {
      top: 13.5rem;
      left: 65%;
    }
  }
  
  .phone1 {
    position: absolute;
    height: 45%;
    animation: movePhone1 1s forwards;
  }
  
  .phone2 {
    position: absolute;
    height: 38%;
    animation: movePhone2 1s forwards;
  }

  
@keyframes movePlay {
  0% {
    top: 11rem;
    left: 35%;
  }

  100% {
    top: 11rem;
    left: 55%;
  }
}

@keyframes moveUpDown {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-8px);
  }
}

.playImg {
  position: absolute;
  height: 3.5rem;
  animation: movePlay 1s forwards, moveUpDown 2s infinite alternate;
}


@keyframes moveReels {
  0% {
    top: 18rem;
    left: 60rem;
  }

  100% {
    top: 18rem;
    left: 89%;
  }
}

@keyframes moveUpDownReels {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}

.reelsImg {
  position: absolute;
  height: 3.5rem;
  animation: moveReels 2s forwards, moveUpDownReels 3s infinite alternate;
}

@keyframes moveMin {
  0% {
    top: 28rem;
    left: 60rem;
  }

  100% {
    top: 21rem;
    left: 50%;
  }
}

@keyframes moveUpDownMin {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}

.minImg {
  position: absolute;
  height: 4rem;
  animation: moveMin 2s forwards, moveUpDownMin 3s infinite alternate;
}

.iconempresas1 {
  z-index: 3;
  position: absolute;
  top: 35rem;
  left: 21.5rem;
}

}



@media (max-width: 767px) {
  .phone1 {
    display: none;
  }

  .phone2 {
    display: none;
  }

  @keyframes movePlay {
    0% {
      top: 7rem;
      left: 0%;
    }

    100% {
      top: 7rem;
      left: 5%;
    }
  }

  @keyframes moveUpDown {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-8px);
    }
  }

  .playImg {
    height: 5%;
    position: absolute;
    animation: movePlay 1s forwards, moveUpDown 2s infinite alternate;
  }

  @keyframes moveReels {
    0% {    
      top: 25rem;
      left: 60rem;
    }

    100% {
      top: 25rem;
      left: 84%;
    }
  }

  @keyframes moveUpDownReels {

    0%,
    100% {
      transform: translateY(0);
    }

    50% {
      transform: translateY(-5px);
    }
  }

  .reelsImg {
    position: absolute;
    animation: moveReels 2s forwards, moveUpDownReels 3s infinite alternate;
    height: 5%;
  }
  
@keyframes moveMin {
  0% {
    top: 32rem;
    left: 60rem;
  }

  100% {
    top: 32rem;
    left: 8%;
  }
}

@keyframes moveUpDownMin {

  0%,
  100% {
    transform: translateY(0);
  }

  50% {
    transform: translateY(-5px);
  }
}

.minImg {
  height: 4rem;
  position: absolute;
  animation: moveMin 2s forwards, moveUpDownMin 3s infinite alternate;
}
}