.WImg {
    height: 15rem;
    transition: transform 0.3s ease; 
}

.WImg:hover {
    transform: translateY(-10px); 
}

.icon {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

h1.title {
    font-weight: bolder;

}

p {
    margin-top: 5%;
    font-weight: 500;
}

@media (max-width: 767px) {
    .WImg {
        height: 8rem; /* Reduzindo a altura das imagens para telas menores */
    }

    .icon {
        margin-bottom: 20px; /* Espaçamento entre os ícones em telas menores */
    }

    p {
        margin-top: 3%; /* Ajustando o espaçamento superior do texto em telas menores */
    }
    h1.title {
        font-weight: bolder;
        font-size: 25px;
    }
}
